.fr-notice{ class: notice_class_names, **notice_data_attributes }
  .fr-container
    .fr-notice__body
      %p
        %span.fr-notice__title= title

        - if description?
          %span.fr-notice__desc= description

      - if closable?
        %button.fr-btn--close.fr-btn{ title: t('.close_notice'), data: { action: "dsfr-header#closeNotice" } }
          = t('.close_notice')
